body {
    font-family: 'Arial', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    transition: background-color 0.3s ease, color 0.3s ease;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--header-bg-color);
}

h1 {
    color: var(--primary-color);
}

#profile-icon {
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}

#profile-menu {
    display: none;
    position: absolute;
    right: 10px;
    top: 60px;
    background-color: var(--header-bg-color);
    padding: 10px;
    border-radius: 8px;
}

#profile-section:hover #profile-menu {
    display: block;
}

#search-section {
    text-align: center;
    margin: 20px 0;
}

#search-box {
    width: 300px;
    padding: 10px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
}

#search-button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
}

.card {
    background-color: var(--card-bg-color);
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    transition: transform 0.2s;
}

.card img {
    width: 100%;
    border-radius: 8px;
}

.card:hover {
    transform: scale(1.05);
}
