/* General */
body {
  font-family: 'Verdana', sans-serif;
  margin: 0;
  padding: 0;
  background: #121212;
  color: #ffffff;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #1e1e1e;
}

.profile-container img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

/* Modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease;
  z-index: 999;
}

.modal.hidden {
  opacity: 0;
  visibility: hidden;
}

.modal-content {
  background: #1e1e1e;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  position: relative;
}

.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  cursor: pointer;
}

.tabs {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.tabs button {
  background: none;
  border: none;
  color: #ffffff;
  font-size: 1.2em;
  cursor: pointer;
  padding: 10px;
}

.tabs button.active {
  border-bottom: 2px solid #ff4500;
}

.form {
  display: none;
  flex-direction: column;
}

.form.active {
  display: flex;
}

.form input {
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #444444;
  background: #2a2a2a;
  color: white;
}

.form button {
  background: #ff4500;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.form button:hover {
  background: #e63939;
}
