/* Filter Section */
#filter-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}

#filter-container select {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #1e1e1e;
  color: #fff;
}

#load-more-btn {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #ff4500;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Watchlist Section */
#watchlist {
  padding: 20px;
  background-color: #1e1e1e;
  border-radius: 10px;
}

#watchlist h2 {
  color: #ff4500;
}

#watchlist-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
