/* General Styles */
body {
  background-color: #121212;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.5rem;
}

.profile-container {
  position: relative;
  margin-left: 20px;
}

.profile-container img {
  cursor: pointer;
}

.profile-dropdown {
  display: none;
  position: absolute;
  top: 50px;
  right: 0;
  background-color: #333;
  padding: 10px;
  border-radius: 5px;
  text-align: left;
}

.profile-container:hover .profile-dropdown {
  display: block;
}

.profile-dropdown a {
  color: #ff4500;
  text-decoration: none;
  display: block;
  padding: 5px 10px;
}

.profile-dropdown a:hover {
  background-color: #444;
}

#searchBox {
  background-color: #222;
  border: 2px solid #ff4500;
  color: white;
}

#searchBox:focus {
  border-color: #ff5722;
  outline: none;
}

#animeResults .card {
  background-color: #333;
  color: #fff;
  border: none;
  margin: 10px;
}

footer {
  background-color: #000;
  padding: 20px;
  margin-top: 40px;
}
